body {
    background-image: url('https://cdn.dribbble.com/userupload/15473633/file/original-1ed09c4e466564420933683ce13389a5.webp?resize=1504x1432');
    background-size: cover;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: aliceblue;
    text-decoration: underline;
}
 .ok {
    opacity: 60%;
 }

nav {
    display: flex;
    gap: 20px;
    order: 1;
    flex: 1;
    justify-content: center;
}

nav a {
    color: aliceblue;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}

nav a.active {
    color: lightgray; /* Couleur différente pour le lien actif */
}

nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: aliceblue;
    transition: width 0.4s ease;
}

nav a:hover::after {
    width: 100%;
    left: 0;
    background: aliceblue;
}

.images {
    display: flex;
    gap: 10px;
    order: 2;
}

.images a img {
    margin: 10px;
    width: 50px; /* Adjust the size as needed */
    height: auto;
}

h2 {
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    margin: 20px;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.contact a img {
    margin: 10px;
    width: 50px; /* Taille uniforme pour les images */
    height: 50px;
    transition: transform 0.3s ease;
}

.contact a img:hover {
    transform: scale(1.2); /* Agrandissement au survol */
}

/* Responsive design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        order: 2;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    .images {
        order: 3;
    }

    .logo {
        order: 1;
        margin-bottom: 10px;
    }
}
